@media only screen and (min-width : 992px)
{
    /* ==========================================================================
Standard Sizes
========================================================================== */

    h1
    {
        font-size: 4em;
        font-weight: 800;
    }

    h2
    {
        font-size: 1.4em;

        letter-spacing: 0;
    }



    h3
    {
        font-size: 1.4em;
    }

    h4
    {
        font-size: .8em;

        letter-spacing: 7px;
    }

    p
    {
        line-height: 25px;
    }

    /* ==========================================================================
NAV
========================================================================== */

    nav
    {
        height: 5%;
        li
        {
            margin-right: 19px;
        }
    }

    /* ==========================================================================
JUMBOTRON
========================================================================== */

    .jumbotron
    {
        height: 100%;
        .container
        {
            text-align: center;
            h1
            {
                font-size: 6em;

                letter-spacing: -3px;
            }
            p
            {
                font-size: 3em;
            }
            a
            {
                @include text_same_as_border(red, 2px, 20px);
            }
        }
    }

    /* ==========================================================================
ABOUT
========================================================================== */

    #about
    {
        min-height: 50%;
        .container
        {
            width: 30%;
            hr
            {
                width: 10%;
            }
        }
    }

    /* ==========================================================================
BLOG
========================================================================== */

    #blog
    {
        height: 100%;
        min-height: 100%;
        a
        {
            color: $white;

            @include text_same_as_border($black, .7em, 10px);
        }
        .both
        {
            a
            {
                margin-bottom: 50%;
            }
        }
    }

    /* ==========================================================================
EMAIL
========================================================================== */

    #email
    {
        height: 20%;
        h2
        {
            letter-spacing: 9px;
        }
    }

    /* ==========================================================================
VIDEOS
========================================================================== */

#videos {
	height: 70%;
	.row {
		height: 100%;
		.all {
			height: 100%;
		}
	}
}

    /* ==========================================================================
FOOTER
========================================================================== */

    footer
    {
    	height: 50%;
        li
        {
            margin-bottom: 4px;
        }
        form
        {
            input
            {
                height: 40px;
            }
            textarea
            {
                height: 200px;
            }
            a
            {
                @include text_same_as_border($lightGray, .7em, 10px);
            }
        }
    }
} // end media query
